# .NET
backend/bin/
backend/obj/
backend/.vs/
.vs/
backend/*.db
backend/*.db-shm
backend/*.db-wal
*.dtbcache.v2
*.vs
*.suo
*.vsidx

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
